.idea/
*__pycache__*
data/
saves/
*test.py
.ipynb_checkpoints/
*.DS_Store*
encodings/
pgad.py
pwad.py
quantize.py
encode.py
rand_graph_generator.py
scripts/pgad/
scripts/pwad/
scripts/run_quantize.sh
scripts/run_pruning_imagenet.sh